.feedback__close_btn {
  position: absolute;
  top: 15px;
  left: 15px;
}

@media (min-width: 600px) {
  .feedback__close_btn {
    top: 34px;
    left: -55px;
  }
}

/* .feedback__close_btn 
    position: absolute
    top: 15px
    left: 15px

@media (min-width: 600px) {
  .feedback__close_btn 
    position: absolute
    top: 34px
    left: -55px
} */
