.modal__item {
  padding: 0;
}

/* .modal__item 
      padding: 0
 */

.modal__item:hover {
  position: relative;
  margin: 0;
  outline: none;
  border-radius: 0;
  background-color: inherit;
}
/* Вверху убирает ховер блока
Снизу делает ховер */
.menu__link:hover {
  color: #7e7e82;
}
