.modal__container {
  background-color: #ffffff;
  max-width: 320px;
  position: fixed;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02) Б 16px 0px 52px
    rgba(14, 24, 80, 0.2);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  overflow-y: auto;
  transition: opacity 5s ease;
}
