.modal__button_type-submit {
  margin-top: 23px;
  align-self: end;
  background: #ff3e79;
  border-radius: 16px;
  padding: 8px 16px;
  text-align: right;
  text-transform: uppercase;
  color: #ffffff;
  border: 0;
  display: flex;
  column-gap: 10px;
  align-items: center;
}
