.page__nav {
  margin: 0 20px;
}

@media (min-width: 738px) {
  .page__nav {
    margin: 0 24px;
  }
}

/* 
.page__navigation 
    margin: 0 20px


@media (min-width: 738px) {
  .page__navigation 
      margin: 0 24px
  
}
*/
