.page__header {
  padding-bottom: 24px;
}

@media (min-width: 738px) {
  .page__header {
    padding-bottom: 10px;
  }
}

/* 
.page__header 
    padding-bottom: 24px


@media (min-width: 738px) {
  .page__header 
      padding-bottom: 10px
}
 */
