.page__menu {
  /*   background-color: #ffffff;
    width: 320px;  */
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  /*   display: flex;
  flex-direction: column; */
}

/* @media (min-width: 1120px) {
  .menu-modal {
    display: flex;
    visibility: visible;
    opacity: 1;
  }
}
 */
