.services {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

@media (min-width: 600px) {
  .services {
    flex-direction: row;
    column-gap: 48px;
  }
}

@media (min-width: 738px) {
  .services {
    margin-top: 17px;
  }
}
