.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 24px;
  background-color: #f2f2f2;
}

@media (min-width: 738px) {
  .header {
    flex-direction: row;
    padding-top: 42px;
    padding-right: 30px;
  }
}
