.section__text-box {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  height: 95px;
  overflow: hidden;
}

@media (min-width: 600px) {
  .section__text-box {
    height: 166px;
  }
}

@media (min-width: 1120px) {
  .section__text-box {
    height: 134px;
  }
}

.section__text-box_visible {
  height: auto;
}
