.section__items {
  background-color: #f2f2f2;
  column-gap: 16px;
  display: grid;
  grid-template-columns: repeat(12, 240px);
  margin-top: 15px;
}

@media (min-width: 738px) {
  .section__items {
    column-gap: 24px;
    row-gap: 16px;
    grid-template-columns: repeat(auto-fill, 224px);
    margin-top: 24px;
  }
}

@media (min-width: 1120px) {
  .section__items {
    column-gap: 30px;
    grid-template-columns: repeat(auto-fill, 240px);
  }
}

/* 
.section__items 
   background-color: #f2f2f2
   column-gap: 16px
   display: grid
   grid-template-columns: repeat(12, 240px)
   margin-top: 15px


@media (min-width: 738px) {
  .section__items 
     column-gap: 24px
     row-gap: 16px
     grid-template-columns: repeat(auto-fill, 224px)
     margin-top: 24px
}

@media (min-width: 1120px) {
  .section__items 
     column-gap: 30px
     grid-template-columns: repeat(auto-fill, 240px)
}

*/
