.section__items {
  background-color: #f2f2f2;
  column-gap: 16px;
  display: grid;
  grid-template-columns: repeat(12, 240px);
  margin-top: 15px;
}

@media (min-width: 738px) {
  .section__items {
    column-gap: 24px;
    row-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-top: 24px;
    max-height: 163px;
    overflow-y: hidden;
    transition: max-height 3s;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 1px 0 10px 1px;
    /* Паддинги для норм ховера */
  }

  .section__items::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  /* По этому мы ищем */
}

@media (min-width: 1120px) {
  .section__items {
    column-gap: 30px;
    grid-template-columns: repeat(auto-fill, 240px);
  }
}

.section__items_visible {
  max-height: 100%;
}

/* 
.section__items 
   background-color: #f2f2f2
   column-gap: 16px
   display: grid
   grid-template-columns: repeat(12, 240px)
   margin-top: 15px


@media (min-width: 738px) {
  .section__items 
     column-gap: 24px
     row-gap: 16px
     grid-template-columns: repeat(auto-fill, 224px)
     margin-top: 24px
}

@media (min-width: 1120px) {
  .section__items 
     column-gap: 30px
     grid-template-columns: repeat(auto-fill, 240px)
}

*/
