.section__text_regular {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1b1c21;
}

/* 
.section__text_regular 
   font-size: 14px
   line-height: 18px
   letter-spacing: 0.2px
   color: #1b1c21

*/
