.section__content {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  box-sizing: border-box;
  max-width: 100%;
}

@media (min-width: 600px) {
  .section__content {
    max-width: 50%;
  }
}

/* 
.section__content 
   display: flex
   flex-direction: column
   row-gap: 16px
   box-sizing: border-box
   max-width: 100%


@media (min-width: 600px) {
  .section__content 
     max-width: 50%
  
}

*/
