@import url('../light-line/light-line.scss');

.title {
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  font-weight: 700;
  position: relative;
}

.title::before {
  @include light-line(-2px, -16px);
}
