.burger {
  background-color: #ffffff;
  width: 320px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
    16px 0px 52px rgba(14, 24, 80, 0.2);
  height: 100vh;
  padding: 18px 24px 32px 24px;
  display: flex;
  display: none;
  flex-direction: column;
}
