.footer__link {
  max-width: 300px;
  opacity: 0.72;
}

@media (min-width: 738px) {
  .footer__link:nth-child(1) {
    text-align: start;
  }

  .footer__link:nth-child(3) {
    text-align: end;
  }
}

/* .footer__link 
    max-width: 300px
    opacity: 0.72


@media (min-width: 738px) {
  .footer__link:nth-child(1) 
    text-align: start
  

  .footer__link:nth-child(3) 
    text-align: end
} */
