.services {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

@media (min-width: 600px) {
  .services {
    flex-direction: row;
    column-gap: 48px;
  }
}

/* 
.services 
   display: flex
   flex-direction: column
   row-gap: 16px


@media (min-width: 600px) {
  .services 
     flex-direction: row
     column-gap: 48px
}

*/
