/* ..........vendor.......... */
@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../vendor/swiper/swiper.css);
/* ..........page.......... */
@import url(../blocks/page/page.css);
@import url(../blocks/page/page__section.css);
@import url(../blocks/page/page__navigation.css);
@import url(../blocks/page/page__header.css);

@import url(../blocks/header/header__items.css);
@import url(../blocks/header/header.css);

@import url(../blocks/icon/icon__link.css);
@import url(../blocks/icon/icon__text.css);
@import url(../blocks/icon/icon.css);

@import url(../blocks/logo/logo.css);

@import url(../blocks/nav/nav__item.css);
@import url(../blocks/nav/nav__items.css);
@import url(../blocks/nav/nav__link.css);

@import url(../blocks/section/section__content.css);
@import url(../blocks/section/section__title.css);
@import url(../blocks/section/section__items.css);
@import url(../blocks/more-button/more-button__image.css);
@import url(../blocks/services/services__text-content.css);
@import url(../blocks/section/section__text-box_hidden.css);
@import url(../blocks/section/section__text_regular.css);
@import url(../blocks/services/services.css);
@import url(../blocks/more-button/more-button__icon.css);
@import url(../blocks/more-button/more-button__image-wrapper.css);
@import url(../blocks/more-button/more-button__link-text.css);
@import url(../blocks/more-button/more-button.css);

@import url(../blocks/title/title.css);
@import url(../blocks/navigation/navigation__title.css);
@import url(../blocks/light-line/light-line.css);

@import url(../blocks/modal/modal__list.css);
@import url(../blocks/modal/modal__email.css);
@import url(../blocks/modal/modal__header.css);
@import url(../blocks/modal/modal__icon.css);
@import url(../blocks/modal/modal__icons.css);

@import url(../blocks/modal/modal__items.css);
@import url(../blocks/modal/modal__langs.css);
@import url(../blocks/modal/modal__link.css);
@import url(../blocks/modal/modal__logo-wrapper.css);
@import url(../blocks/modal/modal__logo.css);
@import url(../blocks/modal/modal__number.css);
@import url(../blocks/modal/modal__container.css);
@import url(../blocks/modal/modal__nav.css);
@import url(../blocks/email/email__text.css);
@import url(../blocks/email/email.css);
@import url(../blocks/number/number.css);
@import url(../blocks/langs/langs.css);
@import url(../blocks/langs/langs__text.css);
@import url(../blocks/langs/langs__input.css);
@import url(../blocks/langs/langs__text_active.css);
@import url(../blocks/icon/icon__image-wrapper.css);

@import url(../blocks/header/header__item.css);

@import url(../blocks/brand/brand.css);
@import url(../blocks/icon-arrow/icon-arrow.css);
@import url(../blocks/brand/brand__more-button.css);

@import url(../blocks/main/main.css);

@import url(../blocks/services/services__icon_rotate.css);

@import url(../blocks/section/section__text_visible.css);
@import url(../blocks/section/section__item_invisible.css);
@import url(../blocks/section/section__item_visible.css);

@import url(../blocks/icon/icon__button.css);

@import url(../blocks/modal/modal.css);

@import url(../blocks/modal/modal_opened.css);

@import url(../blocks/modal/modal_opened_transparent.css);

@import url(../blocks/page/page__menu.css);

@import url(../blocks/menu/menu.css);

@import url(../blocks/technic/technic__items.css);

@import url(../blocks/technic/technic__more-button.css);

@import url(../blocks/section/section__text_light.css);

@import url(../blocks/tech-type/tech-type.css);

@import url(../blocks/tech-type/tech-type__elem.css);

@import url(../blocks/tech-type/tech-type__title.css);

@import url(../blocks/price/price__link.css);

@import url(../blocks/price/price__text.css);

@import url(../blocks/footer/footer__link.css);

@import url(../blocks/footer/footer.css);

@import url(../blocks/technic/technic__item_invisible.css);

@import url(../blocks/section/section__item_desctop.css);

@import url(../blocks/technic/technic__item_visible.css);
@import url(../blocks/feedback/feedback.css);

@import url(../blocks/page/page__feedback.css);

@import url(../blocks/feedback/feedback__form.css);

@import url(../blocks/modal/modal__title.css);

@import url(../blocks/feedback/feedback__inputs.css);

@import url(../blocks/modal/modal__input.css);

@import url(../blocks/modal/modal__input_type_big.css);

@import url(../blocks/modal/modal__text.css);

@import url(../blocks/modal/modal__form.css);

@import url(../blocks/modal/modal__button_type-submit.css);

@import url(../blocks/feedback/feedback__close_btn.css);

@import url(../blocks/menu/menu__link.css);

@import url(../blocks/modal/modal__item.css);

.tech-type__title {
  margin-right: 20px;
}

.button-arrow {
  height: 10px;
  width: 6px;
}

.price__link {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.modal__button_type-submit {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.button-arrow_light {
  fill: #fff;
}

/* @media (min-width: 1120px) {
  .modal__items > .modal__close_btn {
    display: none;
  }
}
 */

.section-price__elem {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.section-price__title {
  font-size: 14px;
  line-height: 16px;
  color: #7e7e82;
  opacity: 0.72;
}

.section-price__value {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
}

.section-price__button {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.15px;
  text-transform: uppercase;
  color: #ffffff;
  grid-area: order;
  background: #ff3e79;
  border-radius: 16px;
  padding: 4px 89px 4px 12px;
  align-self: end;
  width: 67px;
  display: flex;
  column-gap: 5px;
  align-items: center;
}

.section-price__item {
  display: grid;
  grid-template-areas: 'service service' 'price price' 'date order';
  row-gap: 16px;
  column-gap: 28px;
  background: #ffffff;
  border-radius: 6px;
  min-width: 200px !important;
  padding: 16px;
  align-items: center;
}

.section-price__elem:nth-child(1) {
  grid-area: service;
}

.section-price__elem:nth-child(2) {
  grid-area: price;
}

.section-price__elem:nth-child(3) {
  grid-area: date;
}

.section-price__list {
  display: flex;
  column-gap: 16px;
  margin-top: 16px;
}

.section-price__item:nth-child(1) {
  display: none;
}

@media (min-width: 738px) {
  .section-price__title {
    display: none;
  }

  .section-price__item {
    grid-template-areas: none;
    width: auto !important;
    grid-template-columns:
      minmax(auto, 468px) minmax(74px, auto) minmax(81px, auto)
      119px;
    column-gap: 40px;
    border-radius: 0;
    position: relative;
    padding: 16px 0;
    border-bottom: 1px solid #eaeaea;
  }

  .section-price__list {
    flex-direction: column;
    padding: 0 16px;
    background-color: #ffffff;
    overflow: visible;
    border-radius: 6px;
  }

  .section-price__button {
    justify-self: end;
    align-self: center;
    grid-area: auto;
  }

  .section-price__elem:nth-child(1) {
    grid-area: auto;
    align-self: center;
    justify-self: start;
  }

  .section-price__elem:nth-child(2) {
    grid-area: auto;
    align-self: center;
    justify-self: start;
  }

  .section-price__elem:nth-child(3) {
    grid-area: auto;
    align-self: center;
    justify-self: start;
  }

  .section-price__item:nth-child(1) {
    display: grid;
  }

  .section-price__title_visible {
    display: block;
  }
}

.section__slider__wrapper {
  padding-bottom: 30px;
}

.section_visible {
  display: none;
}

.section__item:hover {
  outline: 1px solid #ffe0e9;
  border-radius: 6px;
}

.icon-arrow__img {
  margin-left: 20px;
}

@media (min-width: 738px) {
  .icon-arrow__img {
    margin-left: 0;
  }

  .section_invisible {
    display: none;
  }
  .section_visible {
    display: block;
  }

  .tech-type__title {
    margin-right: 0;
  }
}

.swiper-pagination_invisible {
  display: none;
}
