.navigation__nav {
  margin: 24px 16px 0 16px;
}

@media (min-width: 600px) {
  .navigation__nav {
    margin: 32px 24px 0 24px;
  }
}

@media (min-width: 738px) {
  .navigation__nav {
    margin: 20px 32px 0 32px;
  }
}
