.section-price__list {
  display: flex;
  column-gap: 16px;
  margin-top: 16px;
}

@media (min-width: 738px) {
  .section-price__list {
    flex-direction: column;
    padding: 0 16px;
    background-color: #ffffff;
    overflow: visible;
    border-radius: 6px;
  }
}
