.header__items {
  display: flex;
  column-gap: 15px;
  margin: 0;
  position: relative;
  font-weight: 500;
  align-items: center;
  padding: 16px 20px;
  background-color: #ffffff;
  box-sizing: border-box;
  width: 100%;
}

@media (min-width: 738px) {
  .header__items {
    background-color: #f2f2f2;
    width: auto;
    padding: 0;
  }
}

/* .header__items 
      display: flex
      column-gap: 15px
      margin: 0
      position: relative
      font-weight: 500
      align-items: center
      padding: 16px 20px
      background-color: #ffffff
      box-sizing: border-box
      width: 100%


@media (min-width: 738px) {
  header__items 
    background-color: #f2f2f2
    width: auto
    padding: 0
  
} */
