.tech-type {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: #ffffff;
  height: 160px;
  padding: 16px;
}

/* 
.tech-type 
   display: flex
   flex-direction: column
   row-gap: 64px
   border: 1px solid #eaeaea
   border-radius: 6px
   box-sizing: border-box
   background-color: #ffffff
   height: 160px
   padding: 16px
*/
